# OS / Editor files
.DS_Store
Thumbs.db
*.swp
.vscode/
.idea/

# Node modules & build folders
node_modules/
.next/
dist/
build/

# Python / Cache / Virtualenvs
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Data files / exports
*.csv
*.geojson
*.zip
*.tar.gz

cnn/model/*.pt
